.header {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0 5px 5px #c3c1c1;
    z-index: 100;
}

.info {
    display: flex;
    align-items: center;
    color: #ffc712;
    cursor: pointer;
}

.header .info img {
    width: 50px;
    margin-right: 20px;
}

.search {
    display: flex;
    width: calc(100vw - 60%)
}

.search-form {
    position: relative;
    width: 90%;
    border-radius: 5px;
    border: 2px solid #efefef;
}

.search input {
    border-radius: 5px;
    border: none;
    height: 100%;
    width: 100%;
    padding: 5px;
    font-size: 20px;
}

.search button {
    border: none;
    position: absolute;
    right: 0;
    width: 15%;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    height: 100%;
}
.search button img {
    width: 35px;
}
.search-voice {
    width: 45px;
    opacity: .3;
}

.menu {
    display: flex;
}
.menuImg{
    width: 35px;
}
.dropImg {
    background-color: #ffc712;
    border-radius: 50%;
    width: 50px;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    left: -120px;
    min-width: 170px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 11;
}

.dropdown-content a {
    color: black;
    font-size: 20px;
    padding: 12px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dropdown-content a span {
    margin-left: 10px;
}

.dropdown-content a .logout {
    filter: invert(22%) sepia(80%) saturate(7038%) hue-rotate(356deg) brightness(94%) contrast(117%);
}

.dropdown-content a:hover {
    border-radius: 5px;
    background-color: #e7e8ea;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropImg {
    background-color: #e7e8ea;
}