.main {
    width: 80%;
    min-height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.main::-webkit-scrollbar {
    width: 0;
}

.link-wrap {
    padding: 15px 15px 0 15px;
    width: 100%;
    overflow-x: auto;
    display: flex;
}

.link-wrap::-webkit-scrollbar {
    width: 0;
}

.scroll-categories a {
    text-decoration: none;
    font-size: 20px;
    color: #494949;
    background: #ebebeb;
    margin-right: 10px;
    padding: 5px;
    border-radius: 25px;
}

.scroll-categories a:hover {
    background: #dfdfdf;
}

.main-videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card {
    height: 250px;
    background: rgba(231, 232, 234, .3);
    flex-direction: column;
    margin: 15px;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}

.card:hover {
    background: rgba(231, 232, 234, .7);
}

.card-preview {
    position: relative;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to left top, #2c3705, #4a5f09, #698b0b, #89ba0e, #a8eb12);
}

.card-preview_hover{
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0,0,0,.7);
}
.card-preview_hover a img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.card-preview:hover .card-preview_hover{
    opacity: 1;
    transition: opacity ease-out 0.5s;

}

.card-preview_live {
    position: absolute;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    background: #fa0202;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    left: 5px;
    top: 5px;
}

.card-preview_time {
    position: absolute;
    color: #ffffff;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4);
    padding: 3px;
    border-radius: 5px;
    right: 5px;
    bottom: 5px;
}

.card-desc {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.card-desc_avatar {
    cursor: pointer;
    font-size: 20px;
}

.card-desc-info {
    flex: 2;
    margin-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-desc_name {
    opacity: .6;
    cursor: pointer;
}

.card-desc_title {
    cursor: pointer;
    display: inline;
    font-size: 18px;
}

.card-desc_title:hover {
    color: #2196f3;
}

.card-desc_options {
    cursor: pointer;
}

.main-footer {
    padding-bottom: 15px;
    text-align: center;
}

.main-footer::selection {
    color: #ffffff;
    background: #f5af45;
}

.main-footer span:hover {
    color: #ffffff;
    background: #f5af45;
}