.sidePanel {
    width: 20%;
    height: 100%;
    background: #ebebeb;
    display: flex;
    flex-direction: column;
}

.items {
    list-style: none;
    overflow-y: auto;
    height: calc(100% - 100px);
    border-bottom: 1px solid #ffffff;
}

.item {
    padding: 20px 15px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.item:hover {
    background: #dfdfdf;
}

.item-avatar {
    background: #ffed4e;
    border-radius: 50%;
}

.item-info {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-left: 20px;
}

.item-info_name {
    width: 70%;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-info_name:hover {
    color: #2196f3;
}

.item-info_count {
    position: relative;
}

.active::before {
    color: #f44336;
    content: "\2022";
    font-size: 26px;
    font-weight: 900;
    left: -15px;
    line-height: 22px;
    position: absolute;
    top: 0;
}

.sidePanel-info {
    background: #dfdfdf;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 30px);
    margin: 15px;
}

.sidePanel-info_title {
    margin: 15px;
    text-align: center;
}

.sidePanel-info_title::selection {
    color: #ffffff;
    background: #f5af45;
}

.sidePanel-info_icons {
    width: 70%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
}

.sidePanel-info_icons i {
    font-size: 25px;
}

.sidePanel-info_icons i:hover {
    color: #00a2ff;
}